<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>VABARIIGI AASTAPÄEVA BRUNCH</h2>
          <p class="section-description">
            Tule ja tähista Eesti Vabariigi sünnipäeva <a href="aastapaev-menu">kolmekäigulise erimenüüga</a> mille on loonud meie peakokk Justin just selleks eriliseks päevaks.
          </p>
          <p class="section-description">
            <ul>
                <li>Kuupäev - 24.veebruar</li>
                <li>Kellaaeg - 12:00 - 18:00</li>
                <li>Hind 30€/täiskasvanu</li>
            </ul>        
          </p>
          <p class="section-description">
             <a href="https://book.easytable.com/book/?id=f4386&lang=auto">Broneeri laud</a> varakult ja tule pere või sõpradega meie oma eestimaised maitseid nautima! 
          </p>
        </div>
        <img src="{{ '/assets/images/kinkekaart.png' | absolute_url }}" alt="Sinimandria kinkekaart">
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
