<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%} 
 
    <main>
      <section class="section">
        <div class="text">
          <h2>MAITSERÄNNAK LÄBI TARTU TOIDUAJALOO</h2>
          <p class="section-description">
            Kutsume teid laupäeva, 26.septembri õhtul kell 17:00 rännakule läbi Tartu restoranide aja- ja kultuuriloo. Õhtu algab jalutuskäiguga Tartu vanalinnas mille jooksul tutvustame osalistele Tartu ajaloolisi kohvikuid ja (kuri)kuulsaid restorane. Ringkäigule järgneb õhtusöök restoranis Sinimandria kus taldrikutele jõuavad road väga erinevatest ajastutest.
          </p>
          <p class="section-description">
            Märgiliste kohvikute ja restoranide ajaloost räägib teekonnal Ants Siim Tartu Linnamuuseumist, värvikaid kirjanike tekste loeb Ülo Treikelder Tartu Linnaraamatukogust.
          </p>
          <p class="section-description">
            Aja-, kultuuri- ja maitserännaku maksumus on 69€ / külalise kohta. 
          </p>
        </div>
        <img src="{{ '/assets/images/koogikunst.jpg' | absolute_url }}" alt="Köögikunst - kunst Sinimandria köögis">
      </section>


    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/ajalooline-sinimandria.jpg' | absolute_url }}" alt="Sinimandria 1930 keskel">
        <div class="text">
          <h2>TARTU RESTORANIDE JA KOHVIKUTE LUGU</h2>
          <p class="section-description">
            Kas sina tead et Sinimandria restoran on Tartus toimetanud kahel erineval aadressil kokku kolmel eri ajastul? Või oskaksid sa leida tee kunagise populaarse pontšikubaari tegevuskohta?
          </p>
          <p class="section-description">
            Neid ja paljusid teisi märgilisi söögikohti aitavad linnast üles otsida ja nende lugusid rääkida Ants Siim ja Ülo Treikelder.
          </p>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>SELLE ÕHTU MAITSED</h2>
          <p class="section-description">
            Selle õhtu road kutsuvad teid teekonnale läbi aja. Sinimandria peakokk Justin on loonud selleks õhtuks menüü mille road alustavad teekonda vanast heast Rootsi ajast ja jõuavad läbi tsaariaja ning esimese Eesti Vabariigi Nõukogude Eestisse. 
          </p>
          <p class="section-description">
            Teie klaasi jõudvad joogid on samuti truud konkreetsele ajastule. Tutvume “Ivan tšai” - nimelise joogiga ja teeme sellest grokki, pruulime krambambulit ning maitseme sekti. 
          </p>
        </div>
        <img src="{{ '/assets/images/krambambuli.jpg' | absolute_url }}" alt="Krambambuli">
      </section>
    
      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/sinimandria-terrass.jpg' | absolute_url }}" alt="Sinimandria väliterrass Tartus">

        <div class="text">
          <h2>BRONEERI VARAKULT</h2>
          <p class="section-description">
            Ajas, ruumis ja maitsete maailmas toimuva rännnaku maksumus on €69 külalise kohta. Hinnas sisaldub linnatuur koos valitud suupisted ja jookidega, neljakäiguline õhtusöök koos tervitusjoogi ja krambambuliga ning roogade aja- ja kultuuriloo lähem tutvustus õhtusöögi käigus. 
          </p>
          <p class="section-description">
            Linnatuur algab kell 17:00 Sinimandria eest Kompanii 2, õhtusöögiga alustame orienteeruvalt kell 18:30. Rohkem infot ürituse kohta info@sinimandria.ee
          </p>
          <p class="section-description">
            <a href="{{ 'TODO' | relative_url }}" class="section-link">OSTA PILET</a>
          </p>
        </div> 
      </section>
        
    </main>

    {%- include footer.html -%}
</body>
</html>

