<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>KÖÖGIKUNST - KUNST SINIMANDRIA KÖÖGIS</h2>
          <p class="section-description">
            Ühel augustikuu õhtul kolib kunst Tartmusi näitusesaalist Sinimandria taldrikule. 14. august kell 17.00 toimub kuraatorituur köögikunsti näitusel, millele järgneb õhtusöök restoranis Sinimandria koos aruteluga. 
          </p>
          <p class="section-description">
Kunstiõhtu hind on 79€/külaline. Hinnas sisaldub seitsmekäiguline õhtusöök koos kolme sobitatud joogiga ning kureeritud tuur Tartmusi näitusel "Köögikunst. Pintsliga tõmmatud toidulugu".          
          </p>
          <p class="section-description">
Üritus algab kureeritud tuuriga näitusel algusega 17:00, õhtusöögi serveerimisega alustame orienteeruvalt 18:00.
          </p>
        </div>
        <img src="{{ '/assets/images/koogikunst.jpg' | absolute_url }}" alt="Köögikunst - kunst Sinimandria köögis">
      </section>


    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/marc-desom.jpg' | absolute_url }}" alt="Marc Desom Sinimandria veiniõhtusöögil">
        <div class="text">
          <h2>KURAATOR AAVO KOKK</h2>
          <p class="section-description">
Näitust tutvustab ja õhtusöögi diskussiooni hoiab üleval näituse kuraator Aavo Kokk. 
          </p>
          <p class="section-description">
            Aavot tunneb üldsus viimasel ajal Siuru kultuurikeskuse eestkõnelejana, oma varasemas elus on Aavo jõudnud juhtida panka, pea kõiki Eesti suurte ajalehtede toimetusi ja toimetada ka kinnisvaramaailmas. Nüüd on aga Aavo vaieldamatuks lemmikuks saanud kunst ja kultuur. 
          </p>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>MENÜÜ</h2>
          <p class="section-description">
            Selle õhtu road on Sinmandria peakokk Justin pannud sobima valitud veinidega. Road on serveeritud jagamiseks tervele laudkonnale 
          </p>
          <p class="section-description">
            <a href="{{ '/events/veinifestival-menu' | relative_url }}" class="section-link">TUTVU MENÜÜGA LÄHEMALT</a>
          </p>
        </div>
        <img src="{{ '/assets/images/sinimandria-veiniohtusook-menyy.jpg' | absolute_url }}" alt="Hoolikalt veiniga sobitatud road">
      </section>
    
      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/sinimandria-vahuveinid.jpg' | absolute_url }}" alt="Broneeri koht">

        <div class="text">
          <h2>BRONEERI VARAKULT</h2>
          <p class="section-description">
            Õhtusöögi maksumus külalise kohta on 79€.
          </p>
          <p class="section-description">
              Rohkem infot saab kirjutades meile info@sinimandria.ee.
          </p>
          <p class="section-description">
            <a href="{{ 'https://fienta.com/et/LINK-TODO' | relative_url }}" class="section-link">OSTA PILET</a>
          </p>
        </div>
      </section>
        
    </main>

    {%- include footer.html -%}
</body>
</html>

