<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>KOOLILÕPETAJALE</h2>
          <p class="section-description">
            Kooli lõpetamiseks tuleb ikka koledal kombel tööd teha. Seda enam võiks olla lõpetamine päevaks kus sina ei tee kohe üldse midagi ja lased meil Sinimandrias enese eest hoolitseda. 
          </p>
          <p class="section-description">
            Pakume lõpetajatele lisaks meie <a href="https://sinimandria.ee/menu">tavamenüüle</a> ka kahte erimenüüd mis saadaval mõlemad alates kümnest külalisest. Erimenüü on saadaval tervele laudkonnale, tellimiseks kontakteeru palun <a href="mailto:info@sinimandria.ee">info@sinimandria.ee</a>
            Tutvu Sinimandria erimenüüdega: <a href="https://sinimandria.ee/grupid-menu">grupimenüü</a> ja <a href="https://sinimandria.ee/pidulik-menu">pidulik menüü</a>.
          </p>
          <p class="section-description">
             <a href="https://book.easytable.com/book/?id=f4386">Broneeri laud</a> varakult ja tee rõõmu nii endale kui oma lähedastele! 
          </p>
        </div>
        <img src="{{ '/assets/images/peahoone.jpg' | absolute_url }}" alt="Tartu Ülikooli peahoone">
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
