<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>VEINIÕHTUSÖÖK 7 AUGUSTIL</h2>
          <p class="section-description">
7 augustil kell 19:00 kutsub Sinimandria teid laua taha eriliseks veiniõhtusöögiks. Meie peakokk Justini on selleks õhtuks loonud erilise menüü mis põimitud Luksemburgi veinimaja Domaine Desomi veinidega. Saali täidab lugu, mis algab lapsepõlvest ja jõuab teie klaasi ning taldrikule.
          </p>
          <p class="section-description">
Külalisi ootame alates 18:30, Toidu serveerimisega alustame 19:00.
          </p>
        </div>
        <img src="{{ '/assets/images/peahoone.jpg' | absolute_url }}" alt="Tartu Ülikooli peahoone">
      </section>


    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/grupid-fullhouse.png' | absolute_url }}" alt="Kogu Sinimandria sinu päralt">
        <div class="text">
          <h2>LUGU MIS ALGAB KOOLIPINGIST</h2>
          <p class="section-description">
Veine tutvustab Ants Anupõld.
          </p>
          <p class="section-description">
Ants kolis koos perega kaheksa-aastaselt Luksemburgi. Saatuse tahtel sai koolis tema pinginaabriks veinimeister Marc Desomi noorem vend. Nii sündis side, mis kestab tänaseni: Ants aitab tuua Domaine Desomi veine Eestisse ja asetab ühe Luksemburgi pere loo meie lauale. Sellel õhtul räägib ta neist otse teie kõrval.
          </p>
          <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">TUTVU GRUPIMENÜÜGA</a>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>MENÜÜ</h2>
          <p class="section-description">
Selle õhtu road on Sinmandria peakokk Justin loonud jagamiseks tervele laudkonnale. 
          </p>
          <p class="section-description">
EELROA TRIO - LEIVAD, RÄIMED, PORRU
MEIE MAJA LEIVAD: duxelle või, karulaugu pesto
RÄIMED: sibul, muna, suits
PORRUD: vadakukaste, krõbedik
PEAROOG: LAMMAS: kukeseen, spargel
DESSERT: TÜÜMIAN & MUSTIKAS
Tüümiani panna cotta, mustikas, mustika geel, kohupiim, kibuvitsa coulis, mandliküpsis 
JUUSTUD
juustud, moosid, marjad, õhikud, vahvlid         
          </p>
        </div>
        <img src="{{ '/assets/images/peahoone.jpg' | absolute_url }}" alt="Tartu Ülikooli peahoone">
      </section>

    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/grupid-fullhouse.png' | absolute_url }}" alt="Kogu Sinimandria sinu päralt">
        <div class="text">
          <h2>VEINID</h2>
          <p class="section-description">
Serveerime läbi õhtu teile Domaine Desom veinimaja veine. Ja et õhtu toredam oleks siis teeme seda võimalusel Magnum - suuruses pudelitest.
          </p>
          <p class="section-description">
              <ul>
                  <li>Tervitusjook - Millésimé Crémant de Luxembourg Brut 2018</li>
                  <li>Eelroad - Grande Année 2017 Extra Brut</li>
                  <li>Pearoog - Pinot Noir Bech-Kleinmacher 2018</li>
                  <li>Dessert - Auxerrois Grand Premier Cru Côtes de Schengen Vendanges Tardives</li>
                  <li>Juustukäik - Pinot Blanc Remich-Maateberg 2024</li>
              </ul>
          </p>
          <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">TUTVU GRUPIMENÜÜGA</a>
        </div>
      </section>
        
    </main>

    {%- include footer.html -%}
</body>
</html>
