<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>VEINIÕHTUSÖÖK AUGUSTIS</h2>
          <p class="section-description">
7 augustil kell 19:00 kutsub Sinimandria teid laua taha eriliseks veiniõhtusöögiks. Meie peakokk Justini on selleks õhtuks loonud erilise menüü mis põimitud Luksemburgi veinimaja <a href="https://www.desom.lu/en">Domaine Desom</a> veinidega.
          </p>
          <p class="section-description">
Õhtusöögi hind eelmüügist 79€/külaline, täishind 99€/külaline.         
          </p>
          <p class="section-description">
Külalisi ootame alates 18:30, Toidu serveerimisega alustame 19:00.
          </p>
        </div>
        <img src="{{ '/assets/images/sinimandria-vein.jpg' | absolute_url }}" alt="Veiniõhtusöök Sinimandrias - Domain Desom">
      </section>


    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/marc-desom.jpg' | absolute_url }}" alt="Marc Desom Sinimandria veiniõhtusöögil">
        <div class="text">
          <h2>LUGU MIS ALGAB KOOLIPINGIST</h2>
          <p class="section-description">
Veine tutvustab Ants Anupõld kes räägib lugu, mis algab lapsepõlvest ja jõuab just sel õhtul teie klaasi ning taldrikule.
          </p>
          <p class="section-description">
Ants kolis koos perega kaheksa-aastaselt Luksemburgi. Saatuse tahtel sai koolis tema pinginaabriks veinimeister Marc Desomi noorem vend. Nii sündis side, mis kestab tänaseni: Ants aitab tuua Domaine Desomi veine Eestisse ja toob nõnda ühe Luksemburgi pere loo meie lauale. Sellel õhtul räägib ta neist otse teie kõrval.
          </p>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>MENÜÜ</h2>
          <p class="section-description">
            Selle õhtu road on Sinmandria peakokk Justin pannud sobima valitud veinidega. Road on serveeritud jagamiseks tervele laudkonnale 
          </p>
          <p class="section-description">
            <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">TUTVU MENÜÜGA LÄHEMALT</a>
          </p>
        </div>
        <img src="{{ '/assets/images/sinimandria-veiniohtusook-menyy.jpg' | absolute_url }}" alt="Hoolikalt veiniga sobitatud road">
      </section>

    <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/domaine-caves-desom.jpeg' | absolute_url }}" alt="Veinivalik õhtusöögil">
        <div class="text">
          <h2>VEINID</h2>
          <p class="section-description">
Serveerime läbi õhtu teile Domaine Desom veinimaja veine. Ja et õhtu toredam oleks siis teeme seda võimalusel Magnum - suuruses pudelitest.
          </p>
          <p class="section-description">
              <ul>
                  <li>Tervitusjook - Millésimé Crémant de Luxembourg Brut 2018</li>
                  <li>Eelroad - Grande Année 2017 Extra Brut</li>
                  <li>Pearoog - Pinot Noir Bech-Kleinmacher 2018</li>
                  <li>Dessert - Auxerrois Grand Premier Cru Côtes de Schengen Vendanges Tardives</li>
                  <li>Juustukäik - Pinot Blanc Remich-Maateberg 2024</li>
              </ul>
          </p>
        </div>
      </section>

    
      <section class="section">
        <div class="text">
          <h2>BRONEERI VARAKULT</h2>
          <p class="section-description">
            Õhtusöögi maksumus külalise kohta on eelmüügist (20 kiiremat) 79€, täishind 99€.
          </p>
          <p class="section-description">
              Rohkem infot saab kirjutades meile info@sinimandria.ee.
          </p>
          <p class="section-description">
            <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">OSTA PILET</a>
          </p>
        </div>
        <img src="{{ '/assets/images/peahoone.jpg' | absolute_url }}" alt="Broneeri koht">
      </section>
        
    </main>

    {%- include footer.html -%}
</body>
</html>
