<header>
    <div class="header-left">
      <a href="{{ '/' | absolute_url }}">
        <img src="{{ '/assets/images/noBgWhiteLogo.png' | absolute_url }}" alt="Restaurant Logo" class="logo logo-white">
        <img src="{{ '/assets/images/noBgBlack.png' | absolute_url }}" alt="Logo" class="logo logo-black">
      </a>
    </div>
    <button id="nav-toggle" class="nav-toggle">☰</button>
    <nav>
      <!--<a href="{{ '/menu/' | absolute_url }}">Menüü</a>-->
      <a href="{{ '/peakokk/' | absolute_url }}">Meie peakokast</a>
      <a href="{{ '/sinimandriast/' | absolute_url }}">Sinimandriast</a>
      <a href="{{ '/kontakt/' | absolute_url }}">Kontakt</a>
    </nav>  
</header>
