<!DOCTYPE html>
<html>
{%- include head.html -%}
<body>

    {%- include header.html -%}

    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>SINIMANDRIA</h1>
          <!--<p>Oleme jõulupuhkusel alates 22.detsembrist. Näeme taas uuel aastal!</p>-->
          <p>pagar & resto</p>
        </div>
      </section>  

      <section class="section">
        <div class="text">
          <h2>HOMMIK - pagarikoda</h2>
          <p class="section-description">
              Meie majas valmivad igapäevaselt värsked
              juuretisega leivad, maitsvad saiakesed ja
              hoolikalt valmistatud kondiitritooted – kõik
              ahjusoojad, käsitööna ja armastusega tehtud.
          </p>
          <!--<a href="{{ '/menu/' | relative_url }}" class="section-link">VAATA LÄHEMALT</a>-->
        </div>
        <img src="{{ '/assets/images/esileht-hommik.png' | absolute_url }}" alt="Hommik Sinimandrias">
      </section>

      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/esileht-louna.png' | absolute_url }}" alt="Lõuna Sinimandrias">
        <div class="text">
          <h2>LÕUNA - lõunamenüü</h2>
          <p class="section-description">
Igal argipäeval kell 12.00-13.30 ootame sind
nautima meie värsket ja maitsvat lõunamenüüd.
Pakume hoolikalt valmistatud roogasid, mis
rõõmustavad nii klassikaliste maitsete kui ka
hooajaliste üllatustega.
          </p>
          <!--<a href="#pagar" class="section-link">MEIE PAGARITOODETEST</a>-->
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>ÕHTU - a la carte</h2>
          <p class="section-description">Sinimandria on kombinatsioon prantsuse köögi tehnikatest ja parimast põhjamaisest toorainest. Iga roog on loodud sooviga pakkuda elegantset maitseelamust. Meie menüü sobib nii argipäevaseks õhtusöögiks kui ka erilise sündmuse tähistamiseks.
          </p>
          <a href="{{ '/menu/#ohtusook' | relative_url }}" class="section-link">TUTVU MENÜÜGA</a>
        </div>
        <img src="{{ '/assets/images/esileht-ohtu.png' | absolute_url }}" alt="Õhtu Sinimandrias">
      </section>
      

    </main>

    {%- include footer.html -%}
</body>
</html>

