<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>

    {%- include header.html -%}

    <main>
        <section class="hero">
          <h1>SINIMANDRIA
            Avame uue restorani Tartu30 juulil
          </h1>
        </section>
    
        <section class="section">
          <img src="{{ '/assets/images/denis-profile-1024x1024,jpg' | relative_url }}" alt="Interior view">
          <h1>Denis Bobrovnikov</h1>
          <div class="text">
            <p>Meie peakokk</p>
          </div>
        </section>
        <section class="section">
            <div class="text">
                <p>Enjoy a cozy dining experience with freshly prepared meals made from local ingredients.</p>
            </div>
            <img src="{{ '/assets/images/side2.jpg' | relative_url }}" alt="Interior view">
        </section>
        <section class="section">
          <img src="{{ '/assets/images/side.jpg' | relative_url }}" alt="Interior view">
          <div class="text">
            <p>Enjoy a cozy dining experience with freshly prepared meals made from local ingredients.</p>
          </div>
        </section>
      </main>

    {%- include footer.html -%}
</body>
</html>

