<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>SINU ÜRITUS</h2>
          <p class="section-description">
            Sinimandria on koht, kus iga hetk saab erilise tähenduse. Meie hubane restoran on avatud nii väiksematele sõpruskondadel kui ka suurematele gruppidele.</p>
          <p class="section-description">
            <b>Väiksem sõpruskond (kuni 9 inimest)</b>. Broneeri laud, tule kohale, telli road meie a'la carte menüüst ja naudi!
          </p>
          <p class="section-description">
            <b>Paras punt (10-20 inimest)</b>. Broneeri palun nädalakese ette ja anna meile teada kas eelistad meie a'la carte või grupimenüüd. A'la carte valikute puhul palume ka road nädal enne välja valida.
          </p>
          <p class="section-description">
            <b>Suurem seltskond (21 ja rohkem)</b>. Broneeri kindlasti vähemalt nädal ette. Suurele seltskonnale pakume grupimenüüd - a'la carte tellimustega läheks teie ooteajad kole pikaks
          </p>
          <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">TUTVU GRUPIMENÜÜGA</a>

        </div>
        <img src="{{ '/assets/images/grupid-sinu-yritus.png' | absolute_url }}" alt="Sinu üritus Sinimandrias">
      </section>

      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/grupid-fullhouse.png' | absolute_url }}" alt="Kogu Sinimandria sinu päralt">
        <div class="text">
          <h2>KOGU SINIMANDRIA BRONEERING</h2>
          <p class="section-description">
Kui soovid korraldada midagi tõeliselt erilist, saab Sinimandria olla ainult sinu ja su külaliste päralt.
          </p>
          <p class="section-description">
Meil on kahes saalis kuni 60 istekohta ning võimalus luua just sinu visioonile vastav õhtu. Meie tiim aitab sul planeerida saaliplaani, menüü ja teeninduse nii, et üritus kulgeks sujuvalt ja mõnusalt.
          </p>
          <p class="section-description">
Kogu Sinimandria broneerimiseks palume ühendust võtta vähemalt kuu aega ette.
          </p>
          <a href="{{ '/assets/images/Sinimandria-grupimenyy.pdf' | relative_url }}" class="section-link">TUTVU GRUPIMENÜÜGA</a>

        </div>
      </section>

    {%- include footer.html -%}
</body>
</html>
