<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero light-nav">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>KINKEKAART</h2>
          <p class="section-description">
            Kingitus, mis teeb kingisaaja meele rõõmsaks. 
          </p>
          <p class="section-description">
            Kinkekaarti saab soetada restoranis kohapeal või tellida mugavalt postiga (selleks kirjuta meile <a href="mailto:info@sinimandria.ee">info@sinimandria.ee</a>).          
          </p>
          <p class="section-description">
             Sinimandria kinkekaardid on saadaval 20, 50 ja 100 € vääringus ning kehtivad kuus kuud alates soetamisest. 
          </p>
        </div>
        <img src="{{ '/assets/images/kinkekaart.png' | absolute_url }}" alt="Sinimandria kinkekaart">
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
