<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero light-nav">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>KONTAKT</h2>
          <p class="section-description">
            Aadress: Kompanii 2, Tartu, 51007, Estonia
          </p>
          <p class="section-description">
            Lahtiolekuajad: E-P 08:00 - 16:00 <br>
            Lõunamenüü E-R 12:00 - 14:00 <br>
            Brunch L-P 10:00 - 14:30
          </p>
          <p class="section-description">
            Broneeri <a href="https://book.easytable.com/book/?id=f4386&lang=auto">laud online</a>
          </p>
          <p class="section-description">
            Grupibroneeringud ja küsimused: <a href="mailto:info@sinimandria.ee">info@sinimandria.ee</a>  või +372 54 420 744
          </p>
        </div>
        <img src="{{ '/assets/images/croissanti-rullimine.jpg' | absolute_url }}" alt="Croissant valmimas">
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
