<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>SELTSKONNAMENÜÜD</h2>
          <p class="section-description">
            Sinimandrial on hea meel võõrustada ka suuremaid seltskondi. Selleks et teie kogemus oleks sujuv, pakume suurtele seltskondadele valiku eraldi seltskonnamenüüdest. Valiku selles osas saad sa teha tutvudes järgmiste menüüdega:
          </p>
          <p class="section-description">
            <ul>
              <li><a href="/grupid-menu">Kolmekäiguline seltskonnamenüü</a> - 35€ / külaline</li>
              <li><a href="/grupid-menu-2">Neljakäiguline seltskonnamenüü</a> - 48€ / külaline</li>
              <li><a href="/degust-menu">Peakoka degustatsioonimenüü</a> - 79€ / külaline</li>
            </ul>
          </p>
          <p class="section-description">
             Kõik menüüd on saadaval seltskondadele alates kümnest inimesest ettetellimisega vähemalt 72h. Tellimiseks kontakteeru meiega aadressil info@sinimandria.ee.
          </p>
        </div>
        <img src="{{ '/assets/images/grupid-serveerimine.jpg' | absolute_url }}" alt="Peakokk grupimenüüd serveerimas">
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
