<!DOCTYPE html>
<html>
{%- include head.html -%}
<body>

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>MEIE PEAKOKK</h2>
          <p class="section-description">
            Saage tuttavaks Sinimandria peakokk: Denis Bobrovnikov
          </p>
          <p class="section-description">
            Denis alustas oma kokakarjääri juba 15-aastaselt ning on tänaseks töötanud erinevatel Eesti kulinaariamaastiku tasanditel – alates lihtsamatest restoranidest kuni kahe Michelini tärniga köökideni. 
          </p>
          <p class="section-description">
            Iga saadud kogemus on aidanud välja kujundada peent maitsemeelt ja lihvinud tehnilisi oskuseid. Viimastel aastatel on Denisi suurimaks kireks saanud leivakultuur. Pärast aastatepikkust katsetamist ja õppimist Eestis täiendas ta end ka Taani parimates pagarikodades, et tuua Sinimandriasse parimad teadmised ja tehnikad. 
          </p>
        </div>
        <img src="{{ '/assets/images/denis-profile-1024x1024.jpg' | relative_url }}" alt="Menüü">
      </section>

      <section class="section">
        <img src="{{ '/assets/images/denis-looduses.jpg' | relative_url }}" alt="Denis ja loodus">
        <div class="text">
          <h2>MEIE LÄHENEMINE TOIDULE</h2>
          <p class="section-description">
            Denisi köögi- ja pagarifilosoofia on tugevalt seotud loodusega. Ta on üles kasvanud metsa ja rabade keskel, käinud palju jahil ja kalal. Loodusega tekkinud side peegeldub ka Sinimandria menüüs – metsikud maitsed, põhjamaised toiduvalmistamise tehnikad, okaspuude hõng ja loodusest korjatud saadused loovad kordumatuid elamusi nii meie brunchil kui ka pagari poolel. 
          </p>
          <p class="section-description">
            Denisi kureeritud Sinimandrias kasutame kohalikke tooraineid. Teeme koostööd väiketootjatega ja töötleme ise loodusande - hapendame, kuivatame, fermenteerime ja teeme tõmmiseid. Tulemuseks on menüü, mis peegeldab Denisi soovi luua midagi tõeliselt eestipärast ja põhjamaist kuid prantsusepärase elegantsiga.
          </p>
        </div>
      </section>
      
    </main>

    {%- include footer.html -%}
</body>
</html>

