
<!DOCTYPE html>
<html>
{%- include head.html -%}
<body class="no-hero light-nav">

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>1930.aastate Sinimandria</h2>
          <p class="section-description">
              Mõned nimed on väärt seda et neid mäletatakse. Üks väärt nimi saabus Tartusse tagasi sel suvel, mil Kompanii tänaval avas juba kolmandat korda viimase saja aasta jooksul uksed restoran nimega “Sinimandria”.  
          </p>
          <p class="section-description">
            Sinimandria sisenes Tartu restoranimaastikule aastal 1934 mil peale suuremaid ümberkorraldusi restoranis “Automaat” sai see uueks nimeks "Sinimandria". Esimesest asukohast Raekoja platsil koliti 1937 aastal uutesse ruumidesse Kompanii 2. 
          </p>
          <p class="section-description">
            Consomme Royal, lõhekala hollandi kastmega, Bitky a’la Skobelev ja tedrepraad pohlasalatiga on mõnedeks stiilinäideteks mida toonase Sinimandria peakokkade poolt serveeriti.  Roogade tase oli piisavalt kõrge et lubada restoranil pidada end toonase Tartu absoluutsesse tippu kuuluvaks. Falstaff toona restorane ei järjestanud, aga kolme parima restorani hulka Sinimandriat toonases Tartus kindlasti loeti. 
          </p>
          <p class="section-description">
            1930.aastate Sinimandria oli suur ja mitmekesine. Lisaks restoranile ja öölokaalile opereerisid sama maja eri osades ka õlle- ja veinibaar, eraldi ruumid vastuvõttude korraldamiseks ning tolle aja kombe kohaselt ka eraldatud kabinetid ehk separeed. 
          </p>
          <p class="section-description">
            Esimese Sinimandria kõrge lend sai lõpu 1940.aasta võimuvahetusega Eestis. Septembris 1940 kolis restoran veel endise kohvik “Ateen” ruumidesse kuid kaotas seal juba oma näo ja väljapeetuse, muutudes Tartu Kaubastu restoraniks I-2. 
          </p>
          <p class="section-description">
            Järgnes pikk periood mil Kompanii 2 hoones ei restoranidest ega Sinimandriast kui unistuste maast ei räägitud. Suurema osa 1940-1990 aastasse jäänud perioodist tegutses siin majas Tartu Kultuurikeskus. 
          </p>
        </div>
        <img src="{{ '/assets/images/sinimandria1938-square.jpg' | absolute_url }}" alt="Menüü">
      </section>

      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/sinimandria1992-square.jpg' | absolute_url }}" alt="Pagar">
        <div class="text">
          <h2>1990.AASTATE SINIMANDRIA</h2>
          <p class="section-description">
            Oma teise tulemise Tartusse tegi Sinimandria 1991 - 1993, mil siinsamas Kompanii 2 ruumides tegutses rahvakultuurikeskus Sinimandria. Kultuurikeskuses eksponeeriti kunsti, oma näitustega astusid paljude teiste hulgas üles Imat Suumann, Maanus Mikkel, Mati Karmin ja Mark-Kalev Kostabi (pildil viimane oma 1992.aasta näituse avamisel Sinimandrias)
          </p>
          <p class="section-description">
            Lisaks näituste korraldamisele oli selle ettevõtmise koosseisus ka baar ja restoran. Olla olnud ka selle Sinimandria puhul tegemist populaarse kohaga, meelitades publikut restoranidest Volga ja Kaunas.
          </p>
          <p class="section-description">
            Otsa sai aga ka 1990.aastate Sinimandria ja järgnes taas üle kolmekümne aasta kui Kompanii 2 hoones Sinimandriast ei räägitud …
          </p>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>TÄNANE SINIMANDRIA</h2>
          <p class="section-description">
            Nüüd aga on käes aeg kus Sinimandria restoran avab jälle oma uksed. Küll mõnevõrra teisel kujul kui eelkäijad - näiteks öölokaali või õllebaari praegustes plaanides ei sisaldu. Selle asemel toome teieni esmalt pagarikoja ja tipptasemel brunchimenüü. 
          </p>
          <p class="section-description">
            Muutunud on ajad ja arusaamad ja - ehk on uus värske ja helge hommikune Sinimandria kenaks täienduseks oma eelnevatele reinkarnatsioonidele.
          </p>
          <p class="section-description">
            Kas Sinimandria kolmas tulemine on edukas - seda ütlete teie, kallid kliendid. Aga me vähemalt püüame et ka tänased tartlased oma sammud sama iseenesest mõistetavalt Sinimandriasse seaks kui Bernard Kangro “Emajõe” tegelased omal ajal:
          </p>
          <blockquote>
            Jõudsime raekoja ette.<br><br>
            „Kuhu, noored sõbrad?” küsis Justus.<br><br>
            Ilma et keegi oleks vastanud, hakkasime Kivisilla poole minema. Enne silda pöördusime vasakule. Õigus, seal on ju „Sinimandria” – kuhu mujale me oleksimegi läinud!
          </blockquote>
        </div>
        <img src="{{ '/assets/images/pagar-1024x1024.jpg' | absolute_url }}" alt="Meie peakokk - Denis Bobrovnikov">
      </section>
      
      <section class="section reverse-on-mobile">
        <img src="{{ '/assets/images/sinimandria1927-square.jpg' | absolute_url }}" alt="Raamat Sinimandria">
        <div class="text">
          <h2>RAAMAT "SINIMANDRIA"</h2>
          <p class="section-description">
            Päris alguse sai kõik aga hoopis Hugo Raudsepa 1927.aastal ilmunud värssnäidendist “Sinimandria”. Raamatu peategelaseks olev luuletaja satub maailma, mis on loodud tema enda poeemi eeskujul. 
          </p>
          <p class="section-description">
            End selle maailma valitsejaks pidanud poeet kogeb ridamisi pettumusi. Ta avastab et kohalikud asukad ei taha temast kui selle maailma loojast midagi kuulda. Paiga selles maailmas leiab luuletaja alles siis, kui loobub pretensioonidest maailma looja kohale.
          </p>
          <p class="section-description">
            Restoranimaailmaga seob Hugo Raudsepa Sinimandriat vast ainult järgnev raamatu peategelasele esitatud küsimus:
          </p>
            <blockquote>Ütle Andreas, laulik poeetide seas! Kumba liiki sa kuulud?<br> 
                Kas neile, kes elavad kohvist ja tordist? <br>
                Või oled sellest - lahtise kruviga sordist?
            </blockquote>
          <p class="section-description">
            Kohvi ja torti meie majas igatahes saab …
         </p>
        </div>
      </section>
    </main>

    {%- include footer.html -%}
</body>
</html>
