
<!DOCTYPE html>
<html>
{%- include head.html -%}
<body>

    {%- include header.html -%}

    <main>
      <section class="section">
        <div class="text">
          <h2>1930.aastate Sinimandria</h2>
          <p class="section-description">
              Mõned nimed on väärt seda et neid mäletatakse. Üks väärt nimi leiab oma tagasitee tänase tartlase maailmapilti juba sel suvel, mil Kompanii tänaval avab juba kolmandat korda viimase saja aasta jooksul uksed restoran nimega “Sinimandria”.  
          </p>
          <p class="section-description">
            Sinimandria sisenes Tartu restoranimaastikule aastal 1934 mil peale suuremaid ümberkorraldusi restoranis “Automaat” sai see uueks nimeks "Sinimandria". Esimesest asukohast Raekoja platsil koliti 1937 aastal uutesse ruumidesse Kompanii 2. 
          </p>
          <p class="section-description">
            Consomme Royal, lõhekala hollandi kastmega, Bitky a’la Skobelev ja tedrepraad pohlasalatiga on mõnedeks stiilinäideteks mida toonases Sinimandria peakokkade poolt serveeriti.  Roogade tase oli piisavalt kõrge et lubada restoranil pidada end toonase Tartu absoluutsesse tippu kuuluvaks. Falstaff toona restorane ei järjestanud, aga kolme parima restorani hulka Sinimandriat toonases Tartus kindlasti loeti. 
          </p>
          <p class="section-description">
            1930.aastate Sinimandria oli suur ja mitmekesine. Lisaks restoranile ja öölokaalile opereerisid sama maja eri osades ka õlle- ja veinibaar, eraldi ruumid vastuvõttude korraldamiseks ning tolle aja kombe kohaselt ka eraldatud kabinetid ehk separeed. 
          </p>
          <p class="section-description">
            Esimese Sinimandria kõrge lend sai lõpu 1940.aasta võimuvahetusega Eestis. Septembris 1940 kolis restoran veel endise kohvik “Ateen” ruumidesse kuid kaotas seal juba oma näo ja väljapeetuse, muutudes Tartu Kaubastu restoraniks I-2. 
          </p>
          <p class="section-description">
            Järgnes pikk periood mil Kompanii 2 hoones ei restoranidest ega Sinimandriast kui unistuste maast ei räägitud. Suurema osa 1940-1990 aastasse jäänud perioodist tegutses siin majas Tartu Kultuurikeskus. 
          </p>
        </div>
        <img src="{{ '/assets/images/sinimandria1938-square.jpg' | absolute_url }}" alt="Menüü">
      </section>

      <section class="section">
        <img src="{{ '/assets/images/sinimandria1992-square.jpg' | absolute_url }}" alt="Pagar">
        <div class="text">
          <h2>1990.AASTATE SINIMANDRIA</h2>
          <p class="section-description">
            Oma teise tulemise Tartusse tegi Sinimandria 1991 - 1993, mil siinsamas Kompanii 2 ruumides tegutses rahvakultuurikeskus Sinimandria. Kultuurikeskuses eksponeeriti kunsti, oma näitustega astusid paljude teiste hulgas üles Imat Suumann, Maanus Mikkel, Mati Karmin ja Mark-Kalev Kostabi (pildil viimane oma 1992.aasta näituse avamisel)
          </p>
          <p class="section-description">
            Lisaks näituste korraldamisele oli selle ettevõtmise koosseisus ka baar ja restoran. Olla olnud ka selle Sinimandria puhul tegemist populaarse kohaga, meelitades publikut restoranidest Volga ja Kaunas.
          </p>
          <p class="section-description">
            Otsa sai aga ka 1990.aastate Sinimandria ja järgnes taas üle kolmekümne aasta kui Kompanii 2 hoones Sinimandriast ei räägitud …
          </p>
        </div>
      </section>

      <section class="section">
        <div class="text">
          <h2>TÄNANE SINIMANDRIA</h2>
          <p class="section-description">
            Nüüd aga on käes aeg kus Sinimandria restoran avab jälle oma uksed. Küll mõnevõrra teisel kujul kui eelkäijad - näiteks öölokaali või õllebaari praegustes plaanides ei sisaldu. Selle asemel toome teieni esmalt pagarikoja ja tipptasemel brunchimenüü. 
          </p>
          <p class="section-description">
            Muutunud on ajad ja arusaamad ja - ehk on uus värske ja helge hommikune Sinimandria kenaks täienduseks oma eelnevatele reinkarnatsioonidele.
          </p>
          <p class="section-description">
            Kas Sinimandria kolmas tulemine on edukas - seda ütlete teie, kallid kliendid. Aga me vähemalt püüame et ka tänased tartlased oma sammud sama iseenesest mõistetavalt Sinimandriasse seaks kui Bernhard Kangro “Emajõe” tegelased omal ajal:
          </p>
          <p class="section-description">
            Jõudsime raekoja ette.

            „Kuhu, noored sõbrad?” küsis Justus.
              
            Ilma et keegi oleks vastanud, hakkasime Kivisilla poole minema. Enne silda pöördusime vasakule. Õigus, seal on ju „Sinimandria” – kuhu mujale me oleksimegi läinud!
          </p>
        </div>
        <img src="{{ '/assets/images/pagar-1024x1024.jpg' | absolute_url }}" alt="Meie peakokk - Denis Bobrovnikov">
      </section>
      

    </main>

    {%- include footer.html -%}
</body>
</html>
